@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   @font-face{
        font-family: 'Montserrat';
        src: url(./assets/Montserrat/static/Montserrat-Medium.ttf) format('ttf');
    } 
}

@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.chokokutai-regular {
    font-family: "Chokokutai", system-ui;
    font-weight: 400;
    font-style: normal;
}
.montserrat-500 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }